<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#002381">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Next-Generation Edgemont High School Bulletin Website">
    <meta name="og:icon" content=/transparent-512.png">
    <meta name="og:title" content="Edgemont Bulletin">
    <meta name="og:type" content="website">
    <link rel="apple-touch-startup-image" href="/white-512.png">
    <link rel="stylesheet" href="material-datetime-picker.css">
    <link rel="apple-touch-icon" href="/white-512.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Edgemont Bulletin</title>
</head>


<body ondragstart="return false;" ondrop="return false;">
    <header class="mdc-top-app-bar mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" href="/">arrow_back</a>
                <span class="mdc-top-app-bar__title">
                    <%- create ? "Create Bulletin Announcement" : "Edit Bulletin Announcement" %> 
                </span>
            </section>

            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end ">
                <div>
                    <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item" aria-label="account"
                        id="menu-button">account_circle
                    </button>
                    <div class="mdc-menu-surface--anchor">
                        <div class="mdc-menu mdc-menu-surface" id="account-dropdown">
                            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical"
                                tabindex="-1">
                                <li class="mdc-list-item" role="menuitem">
                                    <span class="mdc-list-item__text" id="signInButton">Sign in</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <div class="main-content mdc-top-app-bar--fixed-adjust">
        <div id="inputs">
            <div class="text-field-row">
                <div class="text-field-container ">
                    <div class="mdc-text-field text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                        <input type="text" id="title" class="mdc-text-field__input validate"
                            aria-describedby="text-field-outlined-helper-text" required>
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"><label class="mdc-floating-label"
                                    for="text-field-outlined">Title</label></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
                            id="text-field-outlined-helper-text">Title of the announcement</p>
                    </div>
                </div>
                <div class="text-field-row text-field-row-fullwidth">
                    <div class="text-field-container">
                        <div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--no-label mdc-text-field--textarea"
                            data-mdc-auto-init="MDCTextField">
                            <textarea class="mdc-text-field__input validate" id="description" required></textarea>
                            <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch"><label class="mdc-floating-label"
                                        for="text-field-fullwidth-textarea-helper"
                                        aria-label="Description input">Description</label></div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="mdc-text-field-helper-line">
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
                                id="text-field-fullwidth-textarea-helper-helper-text">Description of the announcement
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-field-container">
                    <div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-leading-icon datetime-picker"
                        data-mdc-auto-init="MDCTextField">
                        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">event</i><input readonly type="text"
                            id="datepicker" class="mdc-text-field__input validate"
                            aria-describedby=datepicker-helper-text" required>
                        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"><label class="mdc-floating-label"
                                    for=datepicker">From this Date/Time</label></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
                            id="datepicker-helper-text">The announcement starts appearing on the front page on this day</p>
                    </div>
                </div>
                <div class="text-field-container">
                    <div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon datetime-picker"
                        data-mdc-auto-init="MDCTextField">
                        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">event</i>
                        <i tabindex="0" role="button" id="clear-button" class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing">clear</i>
                        <input readonly type="text"
                            id="datepicker2" class="mdc-text-field__input validate"
                            aria-describedby=datepicker2-helper-text">
                        <div class="mdc-notched-outline ">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"><label class="mdc-floating-label"
                                    for=datepicker2">Until this Date/Time</label></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
                            id="datepicker2-helper-text">(Optional) The announcement last appears on the front page on this day</p>
                    </div>
                </div>
            </div>

            <button class="mdc-button--raised mdc-button" id="submit" data-mdc-auto-init="MDCRipple">
                <div class="mdc-button__ripple"></div>

                <span class="mdc-button__label">
                    <% if(create){ %>
                    Post
                    <%} else {%>
                    Save
                    <%} %>

                </span>
            </button>
        </div>
        <div class="mdc-snackbar" id="post-success">
            <div class="mdc-snackbar__surface">
                <div class="mdc-snackbar__label" role="status" aria-live="polite">
                    Bulletin announcement 
                    <% if(create){%>
                        posted<%}else{%> 
                        changed<% }%>.
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    </div>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
    <script src="rome.standalone.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="material-datetime-picker.js" charset="utf-8"></script>
    <script src="client.js"></script>
    <script src="create.js"></script>
    <% if(!create){ %>
    <script>
        const id = <%- postId %>
        titleField.value = <%- JSON.stringify(data[0].title) %>
        descField.value = <%- JSON.stringify(data[0].description) %>
        selectedDate = moment.unix(<%- JSON.stringify(data[0].timestamp) %>)
        datePickerField.value = moment.unix(<%- JSON.stringify(data[0].timestamp) %>).format("LLLL")
    </script>
    <%} %>
</body>

</html>