<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#002381">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Next-Generation Edgemont High School Bulletin Website">
    <meta name="og:icon" content=/transparent-512.png">
    
    <meta name="og:title" content="Edgemont Bulletin">
    <meta name="og:type" content="website">
    <link rel="apple-touch-startup-image" href="/white-512.png">
    <link rel="apple-touch-icon" href="/white-512.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Edgemont Bulletin</title>
</head>

<body ondragstart="return false;" ondrop="return false;">
    <header class=" mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Edgemont Bulletin</span>
            </section>

            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end ">
                <div>
                    <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item" onclick="openCalendar()">event</span>
                    </button>
                    <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item" aria-label="account" id="menu-button">account_circle</span>
                    </button>
                    <div class=" mdc-menu-surface--anchor">
                        <div class="mdc-menu mdc-menu-surface" id="account-dropdown">
                            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                                <li class="mdc-list-item" role="menuitem">
                                    <span class="mdc-list-item__text" id="signInButton" data-mdc-auto-init="MDCRipple">Sign in</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>

    <div class="main-content mdc-top-app-bar--fixed-adjust">
        <div class="card-wrapper">
            <% Object.values(entries).forEach(entry =>{ %>
                <div class="mdc-card" data-id="<%= entry.id %>">
                    <div class="mdc-card-wrapper__text-section" tabindex="0">
                        <div class="mdc-typography--headline6">
                            <%= entry.title %>
                        </div>
                        <div class="mdc-typography--subtitle1">
                            Posted by <%=entry.creatorName %> <br> <%= moment.unix(entry.timestamp).tz("EST").format("LLLL") %>
                        </div>
                    </div>
                    <div class="mdc-card-wrapper__text-section" tabindex="0">
                        <span class="mdc-typography--body1"><%= entry.description %> </span>
                    </div>
                  <div class="mdc-card__actions">
                    <div class="mdc-card__action-icons">
                    <a target="_blank" title="<%= entry.creatorEmail %>" href="mailto:<%= entry.creatorEmail %>" class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon">mail</a>
                    <% if(admin){ %>
                        <script>console.log("Admin")</script>
                        <button onclick="editAnnouncement(this)" data-id="<%= entry.id %>" class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Edit announcement">edit</button>
                         <button onclick="deleteAnnouncement(this)" data-id="<%= entry.id %>" class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Delete announcement">delete</button>
                        <% } %>
                      </div>
                    </div>

                </div>
                <% }); %>
        </div>

    </div>
    <div class="mdc-snackbar" id="domain-error">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label" role="status" aria-live="polite">
                Please sign in using an edgemont.org email.
            </div>
        </div>
    </div>
  
    <div class="mdc-snackbar" id="delete-success">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label" role="status" aria-live="polite">
                Announcement deleted.
            </div>
        </div>
    </div>    
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="client.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
</body>

</html>
