* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
}
.calendar-wrapper {
    height: 100%;
}
.month {
    padding: 20px;
    width: 100%;
    background: var(--mdc-theme-primary-dark);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toload {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
}

.month-switcher-button {
    /** generic button css stuff */
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    cursor: pointer;
    /** text styles */
    color: white;
    font-size: 20px;
}

.day-selector {
    /** generic button css stuff */
    background: none;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 15px;
}

.title-text {
    color: white;
    font-size: 20px;
    margin: 0 5px;
}

.weekdays {
    background-color: #ddd;
}

.weekdays td {
    display: inline-block;
    width: calc(100% / 7);
    /* Get exactly 7 elements in each row */
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: black;
    padding: 10px;
}

.weekday-header {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    padding: 0;
    width: 100%;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    width: 100%;
    flex-grow: 1;
}

.days table {
    width: 100%;
    height: 100%;
}

.days tr {
    vertical-align: middle;
}

.days td {
    list-style-type: none;
    display: inline-block;
    width: calc(100% / 7);
    /* Get exactly 7 elements in each row */
    text-align: center;
    font-size: 12px;
    color: #777;
}

.days td .active {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid black;
}
.days td button {
    transition: all 0.1s ease-in;
    border-radius: 50%;
}
.days td button:hover {
    background: var(--mdc-theme-secondary);
    color: white;
    border: 0px transparent;
}
.prev {
    margin-right: auto;
}
.next {
    margin-left: auto;
}
/* Add media queries for smaller screens */

@media screen and (max-width: 720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}
