#datepicker {
    border: none;
    border-color: transparent;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

* {
    --mdc-theme-primary: #324ab2;
    --mdc-theme-primary-light: #6b75e5;
    --mdc-theme-primary-dark: #002381;
    --mdc-theme-secondary: #b23249;
    --mdc-theme-secondary-light: #e96474;
    --mdc-theme-secondary-dark: #7d0022;
}

*:focus {
    outline: 0;
}

a {
    color: inherit;
}
.main-content {
    padding-left: 16px;
    padding-right: 16px;
}
.card-wrapper {
    padding: 16px 0;
}

.mdc-card-wrapper__text-section {
    padding-left: 16px;
    padding-right: 16px;
}
.mdc-card-wrapper__text-section:first-child,
.mdc-card__media + .mdc-card-wrapper__text-section {
    padding-top: 16px;
}
.mdc-card-wrapper__text-section:last-child {
    padding-bottom: 16px;
}
.mdc-card-wrapper__text-section + .mdc-card-wrapper__text-section {
    padding-top: 18px;
}
.card-title {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-decoration: inherit;
    text-transform: inherit;
}
.mdc-typography--subtitle1 {
    opacity: 0.6;
}
.mdc-card {
    margin-bottom: 16px;
}

.text-field-container {
    padding: 8px 0 8px 0;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
    .mdc-floating-label {
    color: var(--mdc-theme-primary) !important;
}

.datetime-picker {
    width: 375px;
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

#inputs {
    padding-top: 16px;
}
